.people {
  width: 50%;
  border:5px solid blue;
  padding: 5%;
  display: inline;
  text-align: center;
  margin-top:5px;
  margin-left:5px;
}

.logo {
  width: 50%;
  border:5px solid blue;
  padding: 5%;
  display: inline;
  margin-top:5px;
  margin-left:5px;
}
