body {
	background-image: url("../images/background.png");
}

img{
	width: 90%;
}

.photo{
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	border: 5px solid blue;
	padding: 5%;
	width: 49.7%;
}
